{
    "presets": ["es2015", "stage-0"],
    "plugins": [
        "add-module-exports",
        "babel-plugin-add-module-exports",
        "syntax-async-functions",
        "transform-regenerator",
    ]
}
